body {
    background-image: url("https://purelyelizabeth.files.wordpress.com/2013/01/blueberry-granola-crisp-recipe-card-front.jpg");
    background-repeat: no-repeat;
    background-size: 88%;
    margin-left: 89%;
}